  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
      <%= link_to "Wedding Invitation",root_path, id:"logo"%>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path%></li>
          <li><%= link_to "Pictures", picture_path%></li>
          <li><%= link_to "Invitation", invite_path%></li>
          <li><%= link_to "Wishes", wishes_path%></li>
          <li><%= link_to "Feedback", feedback_path%></li>
          <li><%= link_to "Help", help_path%></li>
        </ul>
      </nav>
      </div>
    </div>
  </header>
